@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #000;
	--mailing-list-join-background: #000;
	--brand-primary: #00bcdd;
	--brand-secondary: #ff00ff;
	--term-brand-primary: #00bcdd;
	--term-brand-secondary: #ff00ff;
	--term-error: #fefb67;
	--term-success: #5ff967;
	--term-border-color: #00bcdd;
	--term-border-width: 1px;
	--term-border-radius: 8px;
	--term-box-shadow: 0px 0px 5px 5px rgb(0, 188, 221, 0.4);
	--term-font-family: Inconsolata;
	--term-title-font-family: 'Quicksand', sans-serif;
	--term-font-size: 1.2rem;
	--term-background-color: black;
	--term-output-text-color: white;
	--term-expander-color: var(--term-brand-primary);
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
.term-title {
	@apply p-2 text-lg font-bold text-term-brand-1;
}

/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid #000;
	-webkit-text-fill-color: #fff;
	-webkit-box-shadow: 0 0 0px 1000px #000 inset;
	transition: #000 5000s ease-in-out 0s;
}
