:root {
	--term-brand-primary: #00bcdd;
	--term-brand-secondary: #ff00ff;
	--term-border-color: red;
	--term-border-width: none;
	--term-font-family: Inconsolata;
	--term-font-size: 1.2rem;
	--term-background-color: black;
	--term-output-text-color: white;
	--term-expander-color: #191919;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

.terminal-full {
	@apply absolute top-0 left-0 bottom-0 right-0 z-10 overflow-hidden;
	transform: scale(1);
	transition: all 1s;
}

.terminal-centered {
	margin: 20px 10%;
}

@media (max-width: 650px) {
	.terminal-centered {
		margin: 20px 2%;
	}
}

.terminal-centered-return {
	transition: all 1s;
}

.container-centered.screen {
	height: 100%;
}

.screen {
	border: var(--term-border-width) solid var(--term-border-color);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	height: 100%;
	border-radius: 8px;
}

.terminal-full .screen {
	border-radius: 0;
}

.term-title {
	@apply p-2 text-lg font-bold text-term-brand-1;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid #000;
	-webkit-text-fill-color: #fff;
	-webkit-box-shadow: 0 0 0px 1000px #000 inset;
	transition: #000 5000s ease-in-out 0s;
}
