html, body {
  position: relative;
  width: 100%;
  min-height: 1000px;
}

body {
  color: #333;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.dummy > h1 {
  margin-bottom: 3rem;
}

.dummy > p {
  line-height: 1.5;
  font-size: 1.5rem;
  margin-bottom: 20px;
}